[submodule "icdc-model"]
	path = icdc-model
	url = https://github.com/CBIIT/icdc-model-tool.git
	branch = master
[submodule "cds-model"]
	path = cds-model
	url = https://github.com/knockknockyoo/cds-model.git
	branch = dep-test
[submodule "ctdc-model"]
	path = ctdc-model
	url = https://github.com/CBIIT/ctdc-model.git
	branch = master
